:root {
    /* static colors */
    --color-transparent-10: rgba(0 0 0 / 0.1);
    --color-transparent-10-dark: rgba(255 255 255 / 0.1);

    /* variable colors */
    --color-body-bg: hsl(0deg 0% 90%);
    --color-switcher-bg: var(--color-transparent-10);
    --color-content-bg: hsl(0deg 0% 100%);
    --color-content-shadow: hsl(0deg 0% 10%);
    --color-text: hsl(0deg 0% 15%);
    --color-heading: hsl(0deg 0% 25%);

    /* static values */
    --font-size: 14pt;

    /* variable values */
    --opacity: 0.8;
}

/* element based styling */
html {
    width: 100%;
    height: 100%;
}

body {
    position: fixed;
    inset: 0;
    margin: 0;
    font-family: system-ui, sans-serif;
    background: var(--color-body-bg);
    color: var(--color-text);
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: var(--font-size);
}

/* prevent highlighting */
body * {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
label {
    color: var(--color-heading);
}

svg {
    color: var(--color-text);
    transition: opacity 300ms ease;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 900;
    transition: transform 600ms ease;
}

header > * {
    max-height: 100%;
    place-self: center;
    margin: 0 1%;
}

header svg {
    width: 5rem;
}

a:hover svg,
button:hover svg {
    opacity: 0.6;
}

section {
    position: relative;
    width: max-content;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    place-content: center;
    border-radius: 0.5rem;
    padding: 0 1rem;
    background: var(--color-content-bg);
    box-shadow: -0.2rem 0.2rem 0.3rem var(--color-content-shadow);
}

section svg#loading {
    width: min-content;
    height: auto;
    align-self: center;
}

button, input, a {
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: ' - ';
}

/* class specified UI element styling */
.content {
    position: fixed;
    inset: 50% 0 0 0;
    translate: 0 -50%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    z-index: 1;
}

.content > * {
    place-self: center;
    transition: opacity 250ms ease;
    opacity: var(--opacity);
}

.content > *:hover {
    --opacity: 0.6;
}

.content a {
    color: var(--color-text);
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

/* TODO: add support for browsers without ':has()' */
.content *:has(a:hover),
.content *:has(a:active) {
    --opacity: 0.8;
}

.content h2 {
    white-space: nowrap;
}

@media (orientation: landscape) and (max-width: 700px),
    (orientation: portrait) and (max-width: 1020px) {
    .content {
        padding: 0.5rem;
        grid-template-columns: 1fr;
    }
}

.divider-h {
    width: 100%;
    height: 0.1rem;
    margin: 0;
    background: var(--color-text);
    opacity: 0.4;
}

/* repo list styling */
#loading {
    width: 10%;
    height: auto;
}

#repos {
    display: none;
}

#repos li {
    margin: 1rem 0 1rem 1rem;
}

#repos p {
    margin: 0;
    font-size: 0.9em;
    color: var(--color-text);
    opacity: 0.6;
}

/* blob styling */
#blob {
    position: absolute;
    width: auto;
    height: 120%;
    aspect-ratio: 1;
    background: linear-gradient(45deg, deepskyblue,  hotpink);
    border-radius: 50%;
    translate: -50% -50%;
    animation: rotate 14s infinite;
    /*opacity: 0.8; TODO: maybe lower the opacity if not themed */
    z-index: -1;
}

@media (orientation: portrait) {
    #blob {
        width: auto;
        height: 30%;
    }
}

/* blur styling */
#blur {
    position: absolute;
    width: 100%;
    height: 100%;
    scale: 1;
    backdrop-filter: blur(100px);
    z-index: 0;
}

/* safari < 16.4 */
@supports not (backdrop-filter: blur()) {
    #blur {
        -webkit-backdrop-filter: blur(100px);
    }
}

/* animation for blob */
@keyframes rotate {
    0% {
        rotate: 0;
    }

    50% {
        scale: 1 1.8;
    }

    100% {
        rotate: 359deg;
    }
}
